<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html	xml:lang="en" 
		lang="en" 
		xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link th:href="@{../static/css/style.css}" rel="stylesheet" />
	</head>
	<body>
		<div class="center">
			<a href="#">
				<img th:src="@{${'../static/img/reddit_logo.png'}}" alt="RedditClone" border="0" width="150" height="50"/>
			</a>
		</div>
		<div class="container">
			<h3>Welcome</h3>
			<div>
				<span th:text="${emailRecipient}" class="highlight-item"></span>
				<span>!</span>
			</div>
			<p>Thank you for signing up for RedditClone!</p>
			<p>Please verify your email address by clicking the button bellow.</p>
			<div class="center">
				<a th:href="${emailBody}" class="mail-template-btn">Confirm my account</a>
			</div>
			<p>Please note that unverified accounts are automatically deleted in 24 hours after sign up.</p>
			<p>If you did not request this, please ignore this email.</p>
			<hr/>
			<p>Yours, RedditClone Team</p>
			<p th:text=${emailSupportTeam} class="highlight-item"></p>
		</div>
		<div class="center">
			<br/>
		</div>
	</body>
</html>